@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root{
    --red-color : #FF004D;
    --yellow-color : #FAEF5D;
    --blue-color : rgb(73, 66, 228);
    --bg-color: rgb(29, 43, 83);
    --white: rgb(248, 244, 236);
    --trasition200: ease-in-out 200ms;
    --transition900: ease-in-out 900ms;
    --transition600: ease-in-out 600ms;;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F1035; position: relative;
}


#game-container{
    border: #F8F4EC solid 1px;
    width: 80rem;
    height: 45rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    position: relative;
    gap: 30px;
    background-color: var(--bg-color);
}


.images-con, .buttons{
    display: flex;
    gap: 5rem;
    padding: 10px;
}

.images-con .icons{
    width: 150px;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgb(248, 244, 236);
}

.choices{
    height: 150px;
    width: 150px ;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgb(248, 244, 236);
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: all 600ms;
}

.choices > img{
    width: 150px;
    transition: var(--trasition200);
}


#play-game, #play-again{
    border-radius: 10px;
    height: 3.6rem;
    font-size: 1.4rem;
    width: 12rem;
    font-weight: 600;
    background-color: #FF004D;
    color: var(--white);
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: var(--trasition200);
    margin-top: 20px;
}

#game-container > h1, #output{
    color: var(--white);
}
#game-container .title{
    font-size: 3rem;
    position: absolute;
    top: 150px;
    transition: ease-in-out 600ms;
}

#output{
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
    background-color: rgb(182, 187, 196, 0.2);
    width: 200px;
    height: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(182, 187, 196);
    transition: var(--transition900);
}

.scores-con{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
    opacity: 1;
    transition: var(--transition900);
    align-items: center;
}


.score {
    border-radius: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 175px;
    font-size: 2.5rem;
    font-weight: 600;
    gap: 2rem;
    background-color: white;
}

.score:last-child{
    justify-content: end;
}

.score-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.scores-con img {
    background-color: rgb(180, 212, 255);
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
}

#player-select, #computer-select{
    border-radius: 100px;
}

.hide{
    opacity: 0;
}

.title.in-game{
    font-size: 4rem !important;
    top: 50px !important;
}

.choices.in-game{
    transform: scale(1.1);
}

.choices:hover img{
    filter: brightness(60%);
}

#post-game{
    opacity: 0;
    height:40%;
    border: 1px solid white;
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 30px;
    color: white;
}

#post-game span{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

#post-game{
    height:40%;
    border: 1px solid white;
    width: 40%;
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 30px;
    color: white;
    transition: var(--transition600);
    z-index: -1;
    gap: 1rem;
}

#post-game.show{
    z-index: 2;
    opacity: 1;
    overflow: hidden;
}





