@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root{
    --red-color : #FF004D;
    --yellow-color : #FAEF5D;
    --blue-color : #4942E4;
    --bg-color: rgb(29, 43, 83);
    --white: rgb(248, 244, 236);
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}


#game-container{
    border: #F8F4EC solid 1px;
    width: 80rem;
    height: 40rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}


.images-con, .buttons{
    display: flex;
    gap: 5rem;
    padding: 10px;
}

.images-con .icons{
    width: 150px;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgb(248, 244, 236);
}

.choices{
    height: 150px;
    width: 150px ;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgb(248, 244, 236);
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.choices > img{
    width: 150px;
}


#play-game{
    border-radius: 10px;
    height: 3rem;
    font-size: 1.4rem;
    width: 10rem;
    font-weight: 600;
    background-color: #FF004D;
    color: var(--white);
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: ease-in-out 200ms;
}

#game-container{
    display: flex;
    position: relative;
    gap: 30px;
}

#game-container > h1, #output{
    color: var(--white);
}

#output{font-size: 1.5rem;}

.scores-con{
    position: absolute;
    border: 1px solid white;
    width: 100%;
    left: 0;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
    opacity: 1;
    transition: ease-in-out 900ms;
}

#computer-select{
    margin-right: 10px;
}
#player-select{
    margin-left: 10px;
}

.score {
    border-radius: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 175px;
    font-size: 2.5rem;
    font-weight: 600;
    gap: 2rem;
    background-color: white;
}

.score:last-child{
    justify-content: end;
}

.score img {
    background-color: rgb(180, 212, 255);
    width: 5rem;
    border-radius: 20px;
}

.hide{
    opacity: 0;
}

